{% extends "BlogMainBundle::mainView.html.twig" %}

{% block title %}Symfony - Welcome !{% endblock %}

{% block content %}
	<p>
		<h> CATEGORIES </h>

		<select>
			{% for item in categories %}
				<option value = {{ item.getId() }}>{{ item.getName() }}</option>
			{% endfor %}
		</select>
	</p>

	<p>
		<h> ARTICLES </h>

		{% for item in articles %}
			<p>{{ item.getTitle() }}</p>
			<p>{{ item.getText() }}</p>
			<p>{{ item.getCategory().getName() }}</p> 
		{% endfor %}

	</p>

{% endblock %}



